.zeemeerminPicture {
	width: 30%;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: center;
}
.fishpicture {
	margin-top: -500px;
}
.fishpicture {
	width: 20%;
	height: 20%;
}
.cloudpicture {
	width: 100%;
	margin-top: 100px;
}
.boat {
	width: 100%;
	display: flex;
	justify-content: center;
}

.boat img {
	width: 80%;
}
.mounten {
	width: 100%;
}
.cloudpicture3 {
	width: 20%;
	height: 20%;
}
.princePicture {
	width: 30%;
}
.bliksem {
	width: 200px;
	height: 200px;
	margin-top: 400px;

	margin-left: 190px;
}
