.zeemeerminPicture {
	width: 20%;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: center;
}
.fishpicture {
	margin-top: -500px;
}
.fishpicture {
	width: 20%;
	height: 20%;
}
.cloudpicture {
	width: 100%;
	margin-top: 100px;
}
.boat {
	width: 100%;
	display: flex;
	justify-content: center;
}

.boat img {
	width: 80%;
}
.mounten {
	width: 100%;
}
.cloudpicture3 {
	width: 20%;
	height: 20%;
}
.princePicture {
	width: 30%;
}
.bliksem {
	width: 250px;
	height: 250px;
	margin-top: 400px;
	margin-left: 190px;
}
.background {
	width: 100%;
}
.textFlex h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ZeemeerminRechts {
	transform: rotate(90deg);
}
.heks {
	width: 20px;
}
.heksText h1 {
	font-size: 30px;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.MiddelText h1 {
	font-size: 30px;
	display: flex;
	justify-content: center;
}
.bergen {
	width: 100%;
}
.girl {
	width: 40%;
	margin-top: 300px;
}
.prince {
	width: 40%;
	margin-top: 300px;
}
.MovingText {
	padding-top: 10%;
	display: flex;
	flex-direction: column;
}
.MovingText h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.MovingTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.MovingTextContainer h1 {
	font-size: 45px;
}
.MovingText {
	text-align: center; /* Hiermee worden de teksten in het midden van de container uitgelijnd */
}
