a,
h2 {
	font-family: "Dancing Script", cursive;
	color: #ae0018;
}
p,
h3,
h1 {
	font-family: "Open Sans", sans-serif;
}
body {
	background-image: url("../src/assets/mainBackground.png");
}

.buttonClass button,
label,
.sortProject button {
	font-family: "Open Sans", sans-serif;
}
/* Homepage css*/
.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	margin-top: 40px;
	background-color: #f7f7f7;
	border-radius: 30px;
	width: 800px;
	margin-left: 25%;
	height: 50px;
}
.button {
	background-color: #4f836b;
	font-family: "Open Sans", sans-serif;
	border-radius: 30px;
	color: white;
}
.seeMore a {
	background-color: #4f836b;
	border-radius: 30px;
	color: white;
	padding: 10px 20px;
	font-family: "Open Sans", sans-serif;
}
.search input {
	width: 300px;
	border-radius: 30px;
	padding: 10px;
	margin-right: 30px;
	border-color: #f7f7f7;
	border: 0px;
}
.slideshow {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.aboutUs {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
.aboutUs h3 {
	width: 500px;
	font-weight: 100;
}
.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	background-color: #e5e5e5;
	padding-top: 60px;
	padding-bottom: 20px;
}

/* Making page css*/

.makingOf {
	display: flex;
	justify-content: space-between;
	margin: 0px 100px;
	margin-top: 50px;
}
.makingOfText {
	width: 600px;
	margin-right: 30px;
}
.pictureMakingOf {
	width: 50%;
}
.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.beginPicture {
	width: 100%;
	border-radius: 20px;
}

/* Fairy page css*/

.fairyItem {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.itemDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box img {
	width: 380px;
	background-color: black;
	border-radius: 20px;
	margin-bottom: 20px;
}
.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
}
.projectPage {
	display: flex;
}
.sortProject {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
	margin-top: 90px;
	align-items: stretch;
}
.sortProject button {
	background-color: #d4d4d4;
	margin-top: 20px;
	width: 190px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}
.sortProject h2 {
	color: #ae0018;
	font-weight: 300;
	align-items: flex-start;
}
.SearchBar {
	width: 200px;
	border-radius: 30px;
	padding: 10px;
	background-color: #e5e5e5;
	border: 0px;
	margin-left: -200px;
	margin-top: 30px;
}
/* Slideshow Styles */

.carousel .legend {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px;
}
.homeCarousel {
	height: 800px;
}
.carousel {
	margin-bottom: 70px;
}
.parallax {
	background-color: white;
}
.animation-layer img {
	width: 100%;
}
.animation-layer h1 {
	align-items: center;
	font-size: 30px;
}
.title {
	font-size: 70px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
.slideshow-container {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-bottom: 50px;
}

.slide {
	display: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.slide.active {
	display: block;
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
	background-color: white;
	padding: 200px;
}

.student-name {
	font-size: 24px;
	margin-bottom: 10px;
}

.project-description {
	font-size: 16px;
}
